.xpanse-ServiceTypeOption{
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.xpanse-title-typography-heading{
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.375;
  text-transform: none;
}
.xpanse-ServiceTypeOption-description {
  font-size: 12px;
  color: #5e6366;
  min-height: 35px;
  width:  261px;
  margin-top: 5px;
}
.xpanse-ServiceTypeOption-service-icon {
  width: 40px;
  height: 40px;
  max-width: none;
}
.xpanse-ServiceTypeOption-info {
  display: flex;
  flex-flow: nowrap column;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: left;
}
.xpanse-ServiceTypeOption-image {
  display: flex;
  justify-content: center;
  width: 50px;
  margin-right: 15px;
  float: left;
}
.xpanse-ServiceTypeOption-detail {
  display: flex;
  flex-flow: nowrap row;
  padding: 20px;
  width: 370px;
  height: 115px;
  margin: 10px;
}
.xpanse-ServiceTypeOption-detail-selected {
  display: flex;
  flex-flow: nowrap row;
  padding: 20px;
  width: 370px;
  height: 115px;
  margin: 10px;
  border: 1px solid crimson;
}
.xpanse-CloudBox-Service-logo {
  display:flex;
  width: 104px;
  height: 104px;
  padding: 20px;
  margin: 10px;
}
.xpanse-Service-CloudBox {
  display: flex;
  flex-wrap: wrap;
}
.xpanse-ServiceCreateScreen-CloudBox-selected {
  display: block;
  overflow: hidden;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 15px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid crimson;
}
.xpanse-ServiceCreateScreen-CloudBox-unselected {
  display: block;
  overflow: hidden;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.xpanse-ServiceCreateOption-action-button {
  display: block;
  width: 890px;
  height: 89px!important;
  margin: 0;
  padding: 0;
  font-family: Inter,"sans-serif";
  color: #333;
  background-color: #f8f8f8;
}
.xpanse-typography-small {
  background: none;
  padding: 0;
  width: 240px;
  height: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  border: 0 solid #e3e3e3
}
.xpanse-cloudBox-provider {
  display: flex;
  flex-direction: row;
}
.xpanse-provide-service-name {
  height: 49px!important;
  background-color: rgb(239 250 255)!important;
}
.xpanse-provide-service-word-hint {
  height: 49px!important;
  background-color: rgb(239 250 255)!important;
}
.xpanse-relative-text {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.42;
  text-transform: none;
}
.xpanse-Special-characters{
  --tw-text-opacity: 1 !important;
  color: rgb(230 39 40 / var(--tw-text-opacity))!important;
}
.xpanse-relative-small {
  display: block;
  font-size: 18px;
}
.xpanse-relative-full {
  width: 100%!important;
}
